.box{
    width: 200px;
    height: 200px;
    background-color: red;
    margin-left: 600px;

}

.input{
    width: 300px;
    border-radius: 100px;
    border: 1px solid green;
    height: 30px;
    margin-left: 600px;
}

.btn{
     background-color: blue;
     color: white;
     border: 1px solid white;
     border-radius: 100px;
     height: 30px;
     margin-left: 600px;
}